<%- include('partials/header') %>
<div class="max-w-[1200px] mx-auto px-6 py-10 italic font-black">
    <div class="bg-white rounded-[3rem] shadow-2xl border overflow-hidden">
        <table class="w-full text-left text-[11px]">
            <thead class="bg-slate-950 text-white uppercase italic">
                <tr>
                    <th class="p-6">Hall No</th>
                    <th class="p-6">Batch Details</th>
                    <th class="p-6 text-center">Session</th>
                    <th class="p-6 text-center">Action</th>
                </tr>
            </thead>
            <tbody class="divide-y">
                </tbody>
        </table>
    </div>
</div>